    <footer class="footer">
    <div class="container">
        <span>Agustin Cabrera</span>
        <span>Curso React 43370</span>
        <span>Coderhouse</span>
        <a href="https://github.com/agustincabrera" target="_blank">Github</a>
    </div>
    </footer>